$backgroundColor: #f7f7ff;
$buttonBG:#7269ef;
$blackOpacity: rgba(0, 0, 0, 0.15);

$sidebarBGColor: #303841;
$chatBgDarkColor:#262e35;

$inputBgSidebarDark: #36404a;

$backgroundDarkBox: #262e35;
$whiteOpacity: rgba(255, 255, 255, 0.09);